services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    pull_policy: always
    container_name: jellyfin
    # Host mode is critical for DLNA/Casting discovery
    network_mode: host
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ./jellyfin/config:/config
      - /mnt/media/media:/media

  radarr:
    image: linuxserver/radarr:latest
    pull_policy: always
    container_name: radarr
    ports:
      - 7878:7878
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ./radarr/config:/config
      - /mnt/media/media:/media
      - /mnt/media/media/Downloads:/downloads

  sonarr:
    image: linuxserver/sonarr:latest
    pull_policy: always
    container_name: sonarr
    ports:
      - 8989:8989
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ./sonarr/config:/config
      - /mnt/media/media:/media
      - /mnt/media/media/Downloads:/downloads

  prowlarr:
    image: linuxserver/prowlarr:latest
    pull_policy: always
    container_name: prowlarr
    ports:
      - 9696:9696
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ./prowlarr/config:/config

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    pull_policy: always
    container_name: qbittorrent
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
      - WEBUI_PORT=8080
    volumes:
      - ./qbittorrent/config:/config
      - /mnt/media/media/Downloads:/downloads
      - /mnt/media/media:/media

  jackett:
    image: linuxserver/jackett:latest
    pull_policy: always
    container_name: jackett
    ports:
      - 9117:9117
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ./jackett/config:/config
      - /mnt/media/media/Downloads:/downloads

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    init: true
    restart: unless-stopped
    ports:
      - 5055:5055
    environment:
      - LOG_LEVEL=debug
      - TZ=Africa/Nairobi
    volumes:
      - ./jellyseerr/appdata/config:/app/config
  # flaresolverr:
  #   image: flaresolverr/flaresolverr:latest
  #   container_name: flaresolverr
  #   network_mode: host
  #   environment:
  #     - LOG_LEVEL=info
  #     - TZ=Africa/Nairobi
  #   restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    network_mode: host
    volumes:
      - ./uptime-kuma-data:/app/data
    restart: always
  requestrr:
    image: darkalfx/requestrr
    container_name: requestrr
    network_mode: host
    volumes:
      - ./requestrr/config:/root/config
    restart: unless-stopped
